*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    margin: 0;
    align-items: center;
    flex-direction: column;
    background-color: #fafafa;
    transition: 0.5s;
    
}
.foto_perfil{
    margin: 15px 0 0 15px;
    width:20%;
    height: 75%;
    border-radius: 10px;
}
.section_dados_principal{
    display: flex;
    width: 50vw;
    height: 40vh;
    flex-direction: column;
    
    
}
.div_dados_foto_objetivo{
    display: flex;
    width: 50vw;
    height: 20vh;
    flex-direction: row;
    background: rgb(2,0,36);
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(0,152,219,1) 35%, rgba(0,212,255,1) 100%);
    color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}
.div_sobremim{
    display: flex;
    width: 50vw;
    height: 20vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(0,152,219,1) 35%, rgba(0,212,255,1) 100%);
    color: #fff;
}
.p_sobremim{
    margin: 0 0 0 15px;
}
.div_objetivo_profissional{
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 30px;  

}
.div_titulo_objetivo_profissional{
    width: 100%;
    height: 50%;
    
}
.div_paragrafo_objetivo{
    width: 100%;
    height: 50%;
    text-align: center;
    text-align: left;
}
.objetivo_profissional{
    width: 34%;
    font-size: 2.8vh;
    border: 0;
    border-bottom: #fff 2px solid;
    
}
.paragrafo_objetivo{
    font-size: 1.71vh;
}
.div_h1_dados{
    text-align: center;
    display: flex;
    justify-content: center;
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(0,152,219,1) 35%, rgba(0,212,255,1) 100%);
    color: #fff;
    
}
.h1_dados{
    width: 13%;
    border-bottom: #fff 2px solid;
    
}
.div_icones{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between; /*170,*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(0,152,219,1) 35%, rgba(0,212,255,1) 100%);
    color: #fff;
}


.icone_nome, .icone_cidade, .icone_celular, .icone_email, .icone_github, .icone_linkedin{
    width: 1.82vw;
    height: 3.76vh;
    margin: 15px 0 0 15px;
}

a, a:visited, a:active{
    text-decoration: none;
    color: currentColor;
}
.fa-xl{
    padding: 0 0 0 15px;
}
.section_conhecimentos{
    display: flex;
    width: 50vw;
    height: 75vh;
    flex-direction: row;
}
.container_div_conhecimentos{
    margin: 10px 0 0 0;
    display: flex;
    width: 50vw;
    height: 30vh;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0 0 10px;

}
 .div_habilidades, .div_cursos, .div_idiomas{
    width: 16vw;
    height: 35vh;
    border: 1px solid #000;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.div_formacao_academica,  .div_experiencias_profissionais{
    width: 16vw;
    height: 35vh;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.h2_formacao{
    margin: 0;
    font-size:  2.36vh;
    padding: 0 0 0 6px;
    color: #fff;
}
.icone_formacao, .icone_experiencias, .icone_habilidades, .icone_cursos{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0 10px 0;
    border-bottom: #0098DB 2px solid;
    background-color: #0098DB;
    border-radius: 5px;

}
.fa-xl{
    color: #fff;
}
.ul_formacao{
    border-bottom: #000 2px solid;
    
}
.informacao_formacao, .informacao_cursos{
    display: flex;
    flex-direction: column;
}
.lista_ensino{
    font-size: 18px;
    padding: 10px 0 0 0;
    font-weight: bold;
}
.paragrafo_formacao {
    font-size: 16px;
    color: #7e7e7e;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 0 10px 0;
    list-style: none;
}
.paragrafo_formacao_nome{
    font-size: 16px;
    color: #7e7e7e;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 0 10px 0;
    list-style: none; 
    color:rgb(1, 198, 1);
}
.div_habilidades::-webkit-scrollbar{
    width: 12px;
}

.div_habilidades::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #7e7e7e;
    border-radius: 10px;
    border: 3px solid #fafafa;
}
.div_idiomas::-webkit-scrollbar{
    width: 12px;
}

.div_idiomas::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #7e7e7e;
    border-radius: 10px;
    border: 3px solid #fafafa;
}
.div_cursos::-webkit-scrollbar{
    width: 12px;
}

.div_cursos::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #7e7e7e;
    border-radius: 10px;
    border: 3px solid #fafafa;
}
.ul_lista{
    
    border-bottom: #000 2px solid;  
}

.li_habilidades, .li_idiomas{
    list-style: none;
    padding: 0 0 15px 0;
    display: flex;
    align-items: center;
}
.img_habilidades, .img_idiomas{
    width: 35px;
    height: 35px;
}
.div_bandeira{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    
}
.ul_idiomas_bandeira{
    display: inline-flex;
}

.ul_habilidades, .ul_idiomas_2{
display: inline-flex;
flex-direction: column;
padding: 0 0 0 20px;
}
.hr_verde{
    width: 25px;
    height: 6px;
    background-color: rgb(1, 198, 1);
    margin: 0 0 0 15px;
    border: 0;
    border-radius: 5px;
}
.hr_cinza{
    width: 25px;
    height: 6px;
    background-color: #c3c3c3;
    margin: 0 0 0 15px;
    border: 0;
    border-radius: 5px;

}
.ul_idiomas_bandeira{
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}
.img_estados_unidos, .img_espanha{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
}
.titulo_atividades{
    font-size: 26px;
    border: 0;
    border-bottom: #000 2px solid;
}
.img_csharp_jogo_da_forca, .img_c_fluxo_de_pessoas, .img_html_portfolio, .img_css_portfolio, .img_css_js_portifolio{
    width: 40px;
    height: 40px;
}
.section_atividades{
    display: inline-flex;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
}
.div_titulo_atividades{
    display: inline-flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
    
}
.projetos_parte1{
    width: 100%;
    height: 39%;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-bottom: 10px;
}
.projetos_parte2{
    width: 100%;
    height: 39%;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.teste{
    width: 35%;
    height: 100%;
    border: 1px solid #000;
    display: inline-flex;
    flex-direction: column;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in;
}
.teste:hover {
    transform: rotateY(180deg);
}
.imagens_projetos{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
}
.imagem_dos_projetos{
    width: 60%;
    height: 80%;
}
.titulo_projetos{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    backface-visibility: hidden;
}
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.texto_back{
    font-size: 2.1vh;
    padding: 2%;
    height: 70%;
}
.div_icn_back{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    padding: 2%;
    justify-content: center;
}
.icn_linguagem_back{
    width: 15%;/*15*/
    height: 60%;/*15*/
}
#id_icn_linkedin, #id_icn_github{
    cursor: pointer;
}

footer{
    background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(0,152,219,1) 35%, rgba(0,212,255,1) 100%);
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 5vh;
    flex-direction: column;

}
.div_ul_footer{
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.div_ul{
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.ul_footer{
    list-style: none;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.li_footer{
    cursor: pointer;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .foto_perfil{
        width:30%;
        height: 85%;
    }
    
    .section_dados_principal{
        width: 75vw;
        height: 50vh;    
    }

    .div_titulo_objetivo_profissional{
        width: 100%;
        height: 45%;  
    }
    .div_dados_foto_objetivo{
        width: 75vw;
        height: 40vh;
    }
    .div_sobremim{
        width: 75vw;
        height: 40vh;
    }
    .paragrafo_objetivo, .p_sobremim{
        font-size: 2vh;
        margin-right: 15px;

    }
    .objetivo_profissional{
        width: 70%;
        height: 40%;
    }
    .h1_dados{
        width: 30%;
        height: 40%;  /*1.71*/
    }
    .section_conhecimentos{
        width: 75vw;
        height: 140vh;
    }
    .container_div_conhecimentos{
        width: 75vw;
        height: 30vh;
    }
    .div_formacao_academica, .div_experiencias_profissionais,  .div_habilidades, .div_idiomas, .div_cursos{
        width: 35vw;
        height: 45vh;
        
    }
    .h2_formacao{
        font-size:  2.3vh;

    }
    .section_atividades{
        width: 75vw; /*50*/
        height: 100vh;
    }
    .teste{
        width: 55%;
        height: 100%;

    }
    .footer{
        width: 100%;
        height: 15vh;
    }
    .div_ul{
        width: 50%;
        height: 60%;
    }
    .div_ul_footer{
        width: 50%;
        height: 40%;
    }
    .ul_footer{
        width: 100%;
        height: 100%;
    }
    .icone_nome, .icone_cidade, .icone_celular, .icone_email, .icone_github, .icone_linkedin{
        width: 4vw;
        height: 4vh;
        margin: 15px 0 0 15px;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .foto_perfil{
        width:30%;
        height: 60%;
    }
    
    .section_dados_principal{
        width: 90vw;
        height: 55vh;    
    }

    .div_titulo_objetivo_profissional{
        width: 100%;
        height: 45%;  
    }
    .div_dados_foto_objetivo{
        width: 90vw;
        height: 40vh;
    }
    .div_sobremim{
        width: 90vw;
        height: 40vh;
    }
    .paragrafo_objetivo, .p_sobremim{
        font-size: 2vh;
        margin-right: 15px;

    }
    .h1_dados{
        width: 30%;
        height: 40%;  /*1.71*/
    }
    .objetivo_profissional{
        width: 70%;
        height: 55%;
    }
    .section_conhecimentos{
        width: 90vw;
        height: 140vh;
    }
    .container_div_conhecimentos{
        width: 90vw;
        height: 100vh;
    }
    .div_formacao_academica, .div_experiencias_profissionais,  .div_habilidades, .div_idiomas, .div_cursos{
        width: 42vw;
        height: 45vh;     
    }
    .h2_formacao{
        font-size: 1.5vh;
    }
    .hr_verde{
        width: 2vw;
        height: 0.5vh;
        background-color: rgb(1, 198, 1);
        margin: 0 0 0 15px;
        border: 0;
        border-radius: 5px;
    }
    .hr_cinza{
        width: 2vw;
        height: 0.5vh;
        background-color: #c3c3c3;
        margin: 0 0 0 15px;
        border: 0;
        border-radius: 5px;
    
    }
    .img_habilidades, .img_idiomas{
        width: 25px;
        height: 25px;
    }
    .section_atividades{
        width: 95vw;
        display: flex;
        align-items: center;
    }
    .lista_ensino{
        font-size: 15px;
    }
    .paragrafo_formacao{
        font-size: 14px;
    }
    .paragrafo_formacao_nome{
        font-size: 14px;
    }
    .div_titulo_atividades{
        display: inline-flex;
        width: 70%;
        height: 20%;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .teste{
        width: 45%;
    }
    .imagem_dos_projetos{
        width: 50%;
        height: 70%;
    }
    .titulo_projetos{
        font-size: 1.8vh;
    }
    .footer{
        height: 5vh;
    }
    .div_ul_footer{
        width: 40%;
    }
    .div_ul{
        width: 50%;
        height: 50%;
    }
    .ul_footer{
        width: 100%;
    }
    .icone_nome, .icone_cidade, .icone_celular, .icone_email, .icone_github, .icone_linkedin{
        width: 3.5vw;
        height: 3.5vh;
        margin: 15px 0 0 15px;
    }
}

@media only screen and (max-width: 480px) {
    .foto_perfil{
        width:40%;
        height: 60%;
    }
    
    .section_dados_principal{
        width: 100vw;
        height: 60vh;    
    }

    .div_titulo_objetivo_profissional{
        width: 100%;
        height: 45%;  
    }
    .div_dados_foto_objetivo{
        width: 100vw;
        height: 40vh;
    }
    .div_sobremim{
        width: 100vw;
        height: 40vh;
    }
    .paragrafo_objetivo, .p_sobremim{
        font-size: 2vh;
        margin-right: 15px;

    }
    .h1_dados{
        width: 30%;
        height: 40%;  /*1.71*/
    }
    .objetivo_profissional{
        width: 70%;
        height: 55%;
    }
    .section_conhecimentos{
        width: 100vw;
        height: 140vh;
        display: flex;
        justify-content: center;
    }
    .container_div_conhecimentos{
        width: 100vw;
        height: 100vh;
    }
    .div_formacao_academica, .div_experiencias_profissionais,  .div_habilidades, .div_idiomas, .div_cursos{
        width: 47vw;
        height: 45vh;     
    }
    .h2_formacao{
        font-size: 1.5vh;
    }
    .hr_verde{
        width: 2vw;
        height: 0.5vh;
        background-color: rgb(1, 198, 1);
        margin: 0 0 0 15px;
        border: 0;
        border-radius: 5px;
    }
    .hr_cinza{
        width: 2vw;
        height: 0.5vh;
        background-color: #c3c3c3;
        margin: 0 0 0 15px;
        border: 0;
        border-radius: 5px;
    
    }
    .img_habilidades, .img_idiomas{
        width: 25px;
        height: 25px;
    }
    .section_atividades{
        width: 100vw;
        display: flex;
        align-items: center;
    }
    .lista_ensino{
        font-size: 15px;
    }
    .paragrafo_formacao{
        font-size: 14px;
    }
    .paragrafo_formacao_nome{
        font-size: 14px;
    }
    .div_titulo_atividades{
        display: inline-flex;
        width: 70%;
        height: 20%;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .teste{
        width: 45%;
    }
    .imagem_dos_projetos{
        width: 60%;
        height: 60%;
    }
    .titulo_projetos{
        font-size: 1.3vh;
    }
    .footer{
        height: 5vh;
    }
    .div_ul_footer{
        width: 40%;
    }
    .div_ul{
        width: 50%;
        height: 50%;
    }
    .ul_footer{
        width: 100%;
    }
    .icone_nome, .icone_cidade, .icone_celular, .icone_email, .icone_github, .icone_linkedin{
        width: 30px;
        height: 30px;
        margin: 15px 0 0 15px;
    }
    .div_dados_foto_objetivo{
        border-radius: 0px;
    }
}